<body>
<div class="container">

<div class="succses-bar">
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
 </div>
 <div class="errorsbar">
        <% if @book.errors.any? %>
          <h2><%= @book.errors.count %><strong>errors prohibited this book from being saved:</strong></h2>
          <%= @book.errors.full_messages.each do |msg|%><br>
            <%= msg %>
          <% end %>
        <% end %>
        </div>

<div class="container">
<div class="row">
<div class="col-xs-3">
<div class="col-box">
<h2><strong>User info</strong></h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
    <table class="userboxs">
              <tr>
                <th>name</th>
                <th class="user-text-headline"><%= @user.name %></th>
                </tr>
                <tr>
                <th>introduction
                <th class="user-body"><%= @user.introduction %></th>
              </tr>
           </table>
        <%= link_to edit_user_path(current_user),class: 'col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_16066' do %>
    <% end %>
    </div>

   <div class="col-box">
    <h2 class="sidebar-headline"><strong>New book</strong></h2>
      <div class="createbox-contents">
      <%= form_for(@book) do |f| %>
        <p>Title</p>
        <%= f.text_field :title,class:"col-xs-12 book_title" %>
        <p>Opinion</p>
        <%= f.text_area :body,class:"col-xs-12 book_body" %><br>
        <%= f.submit 'Create Book',class: "btn btn-primary col-xs-12 "%>
     <% end %> 
    </div>
   </div>
 </div>


<div class="col-xs-9">
 <h2><strong>Books</strong></h2>
  <div class="book-box">
   <div class="book-item clearfix">
    <table class="table table-hover table-inverse">
     <thead>
          <tr>
             <th>Title</th>
             <th>Opinion</th>
             <th colspan="3"></th>
          </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
      <tr>
        <td class="image-box"><%= link_to user_path(book.user_id) do%>
         <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
          <%end%>
           </td>
            <td class="Book-text-headline"><%= link_to book_path(book) do  %>
             <%= book.title%>
              <% end %>
               </td>
                <td class="Book-body"><%= book.body %></td>
              </tr>
          <% end %>
        </tbody>
        </table>
         </div>
       </div>
     </div>
   </div>
 </div>

<footer>
 <div class='container'>
  <div class='row'>
    <div class="footer-box1">
    <p>CopyRight Infratop.inc</p>
    </div>
   </div>
  </div>
</footer>
</div>
</body>